/*Estilos aplicados a la página reservas.html
Los estilos comunes del sitio deben ser aplicados en styles.css*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

:root {
    /*paleta de colores*/
    --primary-color: #efb810;
    --secondary-color: #f7d99c;
    --third-color: #e8a344;
    --fourth-color: #d97a1f;
    --fifth-color: #a83504;
    /*Otros colores a definir*/
    --h2-color: black;
    --section-bg-color: rgba(255, 215, 255, 0.2);
    --box-shadow-color: rgba(0, 0, 0, 0.15);
    --select-invalid-color: #808080;
    --error-color: red;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    flex-direction: column;
    background-color: #e4e3e8;
    padding: 0.375rem;
    font-family: 'Bodoni Moda', sans-serif;
    position: relative;
}

footer {
    text-align: center;
}

footer .log-footer {
    font-family: Limelight;
}