/*Estilos aplicados a la página reservas.html
Los estilos comunes del sitio deben ser aplicados en styles.css*/


:root{
    /*paleta de colores*/
    --primary-color:#efb810;
    --secondary-color:#f7d99c;
    --third-color:#e8a344;
    --fourth-color:#d97a1f;
    --fifth-color:#a83504;
    /*Otros colores a definir*/
    --h2-color: black;
    --section-bg-color: rgba(255, 255, 255, 0.2);
    --box-shadow-color: rgba(0, 0, 0, 0.15);
    --select-invalid-color: #808080; 
    --error-color: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bodoni Moda', sans-serif;
}

#form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


body.reserv-page {
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/img/rest5.jpg);
    background-image: center;
    background-size: cover;
}

#name-rest { 
    text-align: center;
    font-family: Limelight;
    font-size: 4em;
}

.section-header h2 {
    text-align: center;
    color: var(--h2-color); 
    padding-bottom: 6px;
}

.section-header, .reserv-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-width: 600px;
    min-width: 30vw;
    padding-bottom: 0;
    margin: auto;
    background-color: var(--section-bg-color);
    padding: 20px;
    border-radius: 20px;
}

.reserv-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-control input, select{
    margin: 5px 0;
    width: 25vw;
    max-width: 350px;
    height: auto;
    border-radius: 20px;
    border: none;
    outline-color: #efb810;
    box-shadow: 0 5px 10px var(--box-shadow-color);
    padding: 8px;
    transition: box-shadow 0.3s ease;
    font-family: 'Bodoni Moda', sans-serif;
}

#reserv-text {
    width: 30vw;
    
}


.form-control input:focus {
    border-color: var(--primary-color);
}

select:invalid {
    color: var(--select-invalid-color);
}

.form-control textarea {
    margin: 10px 0;
    width: 25vw;
    max-width: 350px;
    height: 70%;
    border-radius: 15px;
    border: none;
    outline-color: #efb810;
    box-shadow: 0 5px 10px var(--box-shadow-color);
    resize: none;
    padding: 10px;
    transition: box-shadow 0.3s ease;
    font-family: 'Bodoni Moda', sans-serif;
}

.form-news {
    width: 30vw;
    text-align: center;
    color:black;
}

#btn-reserva {
    margin: 10px 0;
    width: 25vw;
    max-width: 330px;
    height: 4vh; 
    cursor: pointer; 
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 2px solid rgba(247, 217, 156, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    background-color: var(--primary-color);
}

#btn-reserva:hover {
    background-color: var(--fifth-color);
    color: var(--primary-color);

}

.error {
    color: var(--error-color);
    margin-bottom: 5px;
}

.form-control input.error, .form-select.error {
    border: 2px solid var(--error-color); 
}

footer {
    text-align: center;
    margin-top: auto;
    color:beige
}

footer .log-footer {
    font-family: Limelight;
}

/*Estilos Para pantallas entre 900px y 1280px de ancho*/

@media screen and (min-width: 900px) and (max-width: 1280px) {

    #name-rest { 
        font-size: 3em;
    }

    .section-header, .reserv-form {
        width: 70vw;
    }
    
    .form-control input, select {
        width: 70vw;
    }

    .form-control textarea {
        width: 70vw;
    }

    #btn-reserva {
        width: 70vw;
    }

    .form-news {
        width: 30vw;
    }

}


@media screen and (min-width: 640px) and (max-width: 900px) {
    #name-rest { 
        font-size: 2em;
    }
    
    .section-header h2 {
        font-size: 1em;
    }

    .section-header, .reserv-form {
        width: 90vw;
        margin-left: 15vw;
    }

    .section-header {
        padding-bottom: 10px;
    }

    .reserv-form {
        padding-top: 10px;
    }

    .form-control input, select {
        width: 90vw;
        /*font-size: 0.75em;*/
    }

    .form-control textarea {
        width: 90vw;
    }

    #btn-reserva {
        width: 90vw;
    }

    #reserv-text {
        width: 50vw;
        font-size: 0.9em;
    }

    .form-news {
        width: 50vw;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 640px) {
    #name-rest { 
        font-size: 1.5em;
    }

    .section-header h2 {
        font-size: 1em;
    }
    
    .section-header, .reserv-form {
        width: 80vw;
        margin-left: 15vw;
    }

    .section-header {
        padding-bottom: 10px;
    }

    .reserv-form {
        padding-top: 10px;
    }

    .form-control input, select {
        width: 60vw;
    }

    .form-control textarea {
        width: 60vw;
    }

    #btn-reserva {
        width: 60vw;
    }

    #reserv-text {
        width: 60vw;
        font-size: 0.9em;
    }

    .form-news {
        width: 60vw;
        font-size: 0.9em;
    }
}