@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #e4e3e8;
  padding: 0.375rem;
  font-family: Poppins, sans-serif;
  position: relative;
}

button,
a {
  all: unset;
  font: inherit;
  cursor: pointer;
}

nav {
  position: fixed;
  width: 5rem;
  height: calc(100vh - 0.75rem);
  background-color: #ffffff;
  padding: 1rem 0.75rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  transition: width 500ms ease;
}
body.active nav {
  width: 15rem;
}

.sidebar-header,
.sidebar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sidebar-header {
  margin-bottom: 1.5rem;
}

.logo-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.25rem;
}
.logo-wrapper > img {
  width: 3.25rem;
  height: 3.25rem;
  background-color: #f4f4f6;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.sidebar-links {
  flex-direction: column;
  margin-bottom: auto;
  gap: 0.6rem;
  padding-top: 1.5rem;
}
nav > .sidebar-links {
  border-top: 1px solid rgb(211, 211, 211);
}

body.active .sidebar-links,
body.active .sidebar-header,
body.active .user-profile {
  justify-content: start;
  align-items: stretch;
}

.link {
  display: flex;
  padding: 0.6rem;
  border-radius: 0.5rem;
  gap: 1.5rem;
}
.hidden {
  display: none;
  cursor: auto;
}
body.active .hidden {
  display: inline;
}

.link:hover,
.link.active:hover {
  background-color: #e4e4e8;
}
.link.active {
  background-color: #f4f4f6;
}

.link > img {
  width: 24px;
  height: 24px;
}

.toggle-btn {
  position: absolute;
  top: 10px;
  right: -50px;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.25s ease;
}
body.active .toggle-btn {
  transform: rotate(180deg);
}


/*Estilos del Formulario de Reservas*/

h1 { 
  text-align: center;
}

section h2 {
  text-align: center;
  color: green; /*Ajustar al color definido por el grupo*/
  font-family: 'Franklin Gothic Medium', cursive;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.reserv-form input[type="text"],
form.reserv-form input[type="number"],
form.reserv-form input[type="email"],
form.reserv-form input[type="tel"],
form.reserv-form input[type="date"],
form.reserv-form input[type="time"] {
    margin: 10px 0;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
    transition: box-shadow 0.3s ease;
}

form.reserv-form textarea {
    margin: 10px 0;
    width: 100%;
    height: 70%;
    border-radius: 15px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
    transition: box-shadow 0.3s ease;
}

form.reserv-form button {
    margin: 10px 0;
    width: 100%;
    height: 40px; 
    border-radius: 20px;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
    transition: box-shadow 0.3s ease;
    background-color: rgb(255, 215, 0); 
    color: black; 
    font-size: 1em; 
    cursor: pointer; 
}

/*Fin de Estilos de Formulario de Reservas*/