@import url('./main.css');


.toggle-btn,
a {
  all: unset;
  font: inherit;
  cursor: pointer;
}

.toggle-btn:hover {
  background-color: var(--fifth-color);
  color: var(--primary-color);

}

nav {
  position: fixed;
  width: 5rem;
  height: calc(100vh - 0.75rem);
  background-color: rgba(255, 215, 255, 0.2);
  padding: 1rem 0.75rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  transition: width 500ms ease;
}

body.active nav {
  width: 15rem;
}

.sidebar-header,
.sidebar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sidebar-header {
  margin-bottom: 1.5rem;
}

.logo-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.25rem;
}

.logo-wrapper>img {
  width: 3.25rem;
  height: 3.25rem;
  background-color: rgba(255, 215, 255, 0.2);
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.sidebar-links {
  flex-direction: column;
  margin-bottom: auto;
  gap: 0.6rem;
  padding-top: 1.5rem;
}

nav>.sidebar-links {
  border-top: 1px solid rgb(211, 211, 211);
}

nav .sidebar-header h2 {
  font-family: 'Limelight';
}


body.active .sidebar-links,
body.active .sidebar-header,
body.active .user-profile {
  justify-content: start;
  align-items: stretch;
}

.link {
  display: flex;
  padding: 0.6rem;
  border-radius: 0.5rem;
  gap: 1.5rem;
}

.hidden {
  display: none;
  cursor: auto;
}


body.active .hidden {
  display: inline;
}

.link:hover,
.link.active:hover {
  background-color: #e4e4e8;
}

.link.active {
  background-color: #f4f4f6;
}

.link>img {
  width: 24px;
  height: 24px;
}

.toggle-btn {
  position: absolute;
  top: 10px;
  right: -50px;
  padding: 0.5rem;
  background-color: rgba(255, 215, 255, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.25s ease;
}

body.active .toggle-btn {
  transform: rotate(180deg);
}

@media (max-width: 920px) {
  .toggle-btn {
    display: none;
  }
}

@media (max-width: 640px) {
  nav {
    width: 3rem;
    order: 1;
  }

}